body, table, div, p, dl {
    font-size: 14px;  /* 设置基本字体大小 */
}

h1 {
    font-size: 24px;  /* 设置一级标题字体大小 */
}

h2 {
    font-size: 20px;  /* 设置二级标题字体大小 */
}

h3 {
    font-size: 18px;  /* 设置三级标题字体大小 */
}

.textblock p {
    font-size: 14px;  /* 设置正文段落字体大小 */
}

div.fragment {
    font-size: 13px;  /* 设置代码块字体大小 */
}